<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/lostPetsDetail.css" />
    <title>반려in</title>
  </head>
  <body>
    <div id="wrap">
      <header>
        <nav>
          <div class="header">
            <div class="header__left">
              <div class="header__logo"><a href="/">반려in</a></div>
              <ul class="header__menu-list">
                <li><a href="/lostPets">보호 중입니다</a></li>
                <li><a href="/myPetBoard">반려 이야기</a></li>
              </ul>
            </div>
            <div class="header__right">
              <div class="header__my-page">
                <a href="/myPage">마이페이지</a>
              </div>
              <button class="btn header__login-btn">
                <% if(locals.isLogined) {%>
                <a href="/auth/kakao/logout">로그아웃</a>
                <%} else {%>
                <a href="/login">로그인</a>
                <%}%>
              </button>
            </div>
          </div>
        </nav>
      </header>

      <main role="main">
        <div class="lost-detail">
          <img
            class="lost-detail__img"
            src="http://www.animal.go.kr/files/shelter/2021/12/202112170912729_s.jpg"
          />
          <div class="lost-detail__info">
            <div class="lost-detail__animal-info">
              <div class="lost-detail__title">보호 동물 정보</div>
              <table>
                <tbody>
                  <tr>
                    <th>공고번호</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>공고기간</th>
                    <td></td>
                    <th>상태</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>품종</th>
                    <td></td>
                    <th>색상</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>나이</th>
                    <td></td>
                    <th>체중</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>성별</th>
                    <td></td>
                    <th>중성화여부</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>접수일</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>발견장소</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>특징</th>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="lost-detail__shelter-info">
              <div class="lost-detail__title">보호소 정보</div>
              <table>
                <tbody>
                  <tr>
                    <th>보호소명</th>
                    <td></td>
                    <th>전화번호</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>보호장소</th>
                    <td colspan="3"></td>
                  </tr>
                  <tr>
                    <th>관할기관</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>담당자</th>
                    <td></td>
                    <th>연락처</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>특이사항</th>
                    <td colspan="3"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <a href="lostPets.html"
            ><button class="btn back-to-list-btn">목록으로</button></a
          >
        </div>
      </main>
    </div>
    <script src="./js/lostPetsDetail.js"></script>
  </body>
</html>
