<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="module" src="/myPage.bundle.js"></script>
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <div class="header">
        <div class="header__left">
          <div class="header__logo"><a href="/">반려in</a></div>
          <ul class="header__menu-list">
            <li><a href="/lostPets">보호 중입니다</a></li>
            <li><a href="/myPetBoard">반려 이야기</a></li>
          </ul>
        </div>
        <div class="header__right">
          <div class="header__my-page">
            <a href="/myPage">마이페이지</a>
          </div>
          <button class="btn header__login-btn" onclick="location.href='/auth/kakao/logout'">로그아웃</button>
        </div>
      </div>
    </nav>
  </header>

  <main class="container">
    <section id="myPage">
      <div class="myPage__profile">
        <span class="myPage__profile__image"></span>
        <span class="myPage__profile__email">이메일</span>
        <span class="myPage__profile__nickname">닉2네임</span>
        <span class="myPage__profile__createdAt">가입일</span>
      </div>
      <div class="myPage__select">
        <ul class="list">
          <li class="is_on">
            <a href="#userInfo" class="myPage__select__category">회원정보 수정</a>
          </li>
          <li>
            <a href="#myPosts" class="myPage__select__category">내가 쓴 글</a>
          </li>
          <li>
            <a href="#myComments" class="myPage__select__category">내가 쓴 댓글</a>
          </li>
        </ul>
      </div>

      <!-- 회원정보 수정 -->
      <section id="userInfo" class="myPage__select__content">
        <div class="userInfo__modify">
          <h4 class="userInfo__modify__name">별명</h4>
          <input class="userInfo__modify__input" type="text" placeholder="바꿀 닉네임을 입력하세요" />
          <button id="userInfo__modify__btn" class="btn" type="submit">
            수정
          </button>
        </div>
        <button id="userInfo__exit" class="btn">회원 탈퇴</button>
      </section>

      <!-- 내가 쓴 글 -->
      <section id="myPosts" class="myPage__select__content">
        <div class="main__container">
          <section class="main-content__section"></section>
          <div class="pagination"></div>
        </div>
      </section>

      <section id="myComments" class="myPage__select__content"></section>
      <!-- 내가 쓴 댓글 -->
    </section>
    </div>
  </main>
</body>

</html>