<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/myPetBoard.css" />
    <link rel="stylesheet" href="/style/myPetBoardDetail.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>PET</title>
  </head>

  <body>
    <div id="warp">
      <header>
        <nav>
          <div class="header">
            <div class="header__left">
              <div class="header__logo"><a href="/">반려in</a></div>
              <ul class="header__menu-list">
                <li><a href="/lostPets">보호 중입니다</a></li>
                <li><a href="/myPetBoard">반려 이야기</a></li>
              </ul>
            </div>
            <div class="header__right">
              <div class="header__my-page">
                <a href="/myPage">마이페이지</a>
              </div>
              <button class="btn header__login-btn">
                <% if(locals.isLogined) {%>
                <a href="/auth/kakao/logout">로그아웃</a>
                <%} else {%>
                <a href="/login">로그인</a>
                <%}%>
              </button>
            </div>
          </div>
        </nav>
      </header>

      <main role="main">
        <article class="mypet-datail__container">
          <section class="mypet-datail__content">
            <header class="mypet-datail__header">
              <div class="mypet-datail__title">
                <h1><%=data.title%></h1>
              </div>
              <div class="mypet-datail__profile">
                <div class="profile__info">
                  <span
                    >작성자: <span><%=locals.data.author.nickname%></span></span
                  >
                  <span><%=data.createdAt%></span>
                </div>
                <div>
                  <span>조회수 : <span><%=data.views%></span></span>
                </div>
              </div>
            </header>
            <section class="mypet-datail__body">
              <p>이 밑은 진짜 db 내용(연결 확인용)</p>
              <p><%=data.content%></p>
              <img
                src="https://via.placeholder.com/600x400/B2B2B2/FFFFFF/?text=NO%20Image"
                alt=""
              />
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Officiis ullam doloremque nemo inventore vero nesciunt fugit
                vitae debitis. Explicabo velit vel non consequuntur a mollitia
                autem fugit ab asperiores molestiae.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo atque, debitis labore quidem iste eveniet, eius,
                officiis a veniam accusamus doloremque? Incidunt, aperiam sint
                accusantium sapiente in aut accusamus iste?.
              </p>
              <img
                src="https://via.placeholder.com/600x400/B2B2B2/FFFFFF/?text=NO%20Image"
                alt=""
              />
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Officiis ullam doloremque nemo inventore vero nesciunt fugit
                vitae debitis. Explicabo velit vel non consequuntur a mollitia
                autem fugit ab asperiores molestiae.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo atque, debitis labore quidem iste eveniet, eius,
                officiis a veniam accusamus doloremque? Incidunt, aperiam sint
                accusantium sapiente in aut accusamus iste?.
              </p>
              <img
                src="https://via.placeholder.com/600x400/B2B2B2/FFFFFF/?text=NO%20Image"
                alt=""
              />
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Officiis ullam doloremque nemo inventore vero nesciunt fugit
                vitae debitis. Explicabo velit vel non consequuntur a mollitia
                autem fugit ab asperiores molestiae.
              </p>
            </section>
            <!--여기부터는 댓글, 대댓글-->
            <section class="datail-comment__container">
              <section class="comment-feed">
                <h1 class="comment-feed__header">댓글 <span>3</span>개</h1>
                <ul class="comment__list">
                  <li class="comment__item">
                    <article class="comment__wrap">
                      <div class="comment__author">홍길동</div>
                      <div class="comment__content">댓글 내용입니다.</div>
                      <div class="comment__info">
                        <span class="comment__data">2021.12.17. 15:56</span>
                        <a href="#" class="comment__link">답글쓰기</a>
                      </div>
                      <div class="comment__reply-list">
                        <!-- 대댓글 -->
                        <ul>
                          <li></li>
                        </ul>
                      </div>
                      <div class="comment__tool">
                        <i class="fas fa-ellipsis-v"></i>
                      </div>
                    </article>
                  </li>
                  <li class="comment__item">
                    <article class="comment__wrap">
                      <div class="comment__author">홍길동</div>
                      <div class="comment__content">댓글 내용입니다.</div>
                      <div class="comment__info">
                        <span class="comment__data">2021.12.17. 15:56</span>
                        <a href="#" class="comment__link">답글쓰기</a>
                      </div>
                      <div class="comment__reply-list">
                        <!-- 대댓글 -->
                        <ul>
                          <li></li>
                        </ul>
                      </div>
                      <div class="comment__tool">
                        <i class="fas fa-ellipsis-v"></i>
                      </div>
                    </article>
                  </li>
                  <li class="comment__item">
                    <article class="comment__wrap">
                      <div class="comment__author">홍길동</div>
                      <div class="comment__content">댓글 내용입니다.</div>
                      <div class="comment__info">
                        <span class="comment__data">2021.12.17. 15:56</span>
                        <a href="#" class="comment__link">답글쓰기</a>
                      </div>
                      <div class="comment__reply-list">
                        <!-- 대댓글 -->
                        <ul>
                          <li></li>
                        </ul>
                      </div>
                      <div class="comment__tool">
                        <i class="fas fa-ellipsis-v"></i>
                      </div>
                    </article>
                  </li>
                </ul>
                <ul class="list-paginator">
                  <li>
                    <button
                      type="button"
                      class="list-paginator__pageBtn selected"
                    >
                      1
                    </button>
                  </li>
                  <li>
                    <button type="button" class="list-paginator__pageBtn">
                      2
                    </button>
                  </li>
                </ul>
                <form class="comment-feed__form">
                  <div class="comment-feed__input">
                    <div class="comment-feed__content">
                      <textarea
                        class="comment-feed__textarea"
                        placeholder="댓글을 입력하세요"
                      ></textarea>
                    </div>
                    <div class="comment-feed__submit">
                      <button class="comment-feed__button" type="submit">
                        등록
                      </button>
                    </div>
                  </div>
                </form>
              </section>
            </section>
          </section>
        </article>
      </main>
    </div>
  </body>
</html>
