/* global setting */
:root {
  --main-color-orange: #ff9933;
  --btn-hover-color: #e07e1c;
  --border-gray: 1px solid rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--main-color-orange);
  color: #fff;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

/* header */
#wrap {
  max-width: 2560px;
  position: relative;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  border-bottom: var(--border-gray);
  z-index: 1;
  background-color: white;
}

.header {
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
}

.header__logo {
  font-size: 40px;
  font-weight: bold;
  color: var(--main-color-orange);
}

.header__menu-list {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.header__menu-list li {
  margin-left: 60px;
}

.header__menu-list li:hover {
  color: var(--main-color-orange);
}

.header__right {
  display: flex;
  align-items: center;
}

.header__my-page {
  font-size: 16px;
  margin-right: 30px;
}

.header__my-page:hover {
  color: var(--main-color-orange);
}

/* container */

.container {
  width: 1200px;
  display: block;
  margin: auto;
}

/* carousel */

.carousel {
  height: 15em;
  position: relative;
  background: center/cover no-repeat
    url("https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  transform: translateY(96px);
  margin-bottom: 10em;
}

/* news & board*/

.news,
.board {
  height: 20em;
  position: relative;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
}

.news__description,
.news__statistics,
.board__save,
.board__story {
  width: 45%;
  height: 100%;
}

/* news */

.news__description {
  margin-right: auto;
  font-size: 2em;
}

.news__statistics {
  background: center/cover no-repeat
    url("https://images.unsplash.com/photo-1533135044283-42dc2b70abfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

/* board */

.board {
  padding: 1em;
}

.board__save {
  margin-right: auto;
}

.board__contentsBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.board__content {
  width: 30%;
  margin: 0 0.5em 1em 0.5em;
}
.board__titleBox {
  display: flex;
  margin-bottom: 1.5em;
}

.board__title,
.board__link {
  font-size: 1.2em;
}

.board__title {
  margin-right: auto;
}

.board__img {
  width: 100%;
  border-radius: 0.5em;
}

.content__title {
  font-size: 1em;
}
