.main__container {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 1200px;
}

.main__title {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.main-content__section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main-content__article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 3rem;
  margin-bottom: 1.7rem;
}

.main-content__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.6;
}
