/* global setting */
:root {
  --main-color-orange: #ff9933;
  --btn-hover-color: #e07e1c;
  --border-gray: 1px solid rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--main-color-orange);
  color: #fff;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

/* pagination */
/* 
.comment__pages {
  display: flex;
  justify-content: center;
}

.prev,
.next {
  cursor: pointer;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__container .pagination {
  transform: translateX(-1.5em);
}

.pagination ul {
  display: flex;
  background: var(--main-color-orange);
  padding: 8px;
  border-radius: 50px;
}

.pagination li {
  width: 20px;
  height: 20px;
  margin: 5px;
  font-size: 10px;
  display: flex;
  cursor: pointer;
}

.pagination li:hover {
  background-color: var(--btn-hover-color);
}

.pagination li.active {
  background-color: var(--main-color-orange);
}

.pagination li a {
  margin: auto;
} */

/* header */
#wrap {
  position: relative;
}

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  border-bottom: var(--border-gray);
  z-index: 1;
  background-color: white;
}

.header {
  width: 46.875vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
}

.header__logo {
  font-size: 40px;
  font-weight: bold;
  color: var(--main-color-orange);
}

.header__menu-list {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.header__menu-list li {
  margin-left: 2.3438vw;
}

.header__menu-list li:hover {
  color: var(--main-color-orange);
}

.header__right {
  display: flex;
  align-items: center;
}

.header__my-page {
  font-size: 16px;
  margin-right: 1.1719vw;
}

.header__my-page:hover {
  color: var(--main-color-orange);
}

/* container */

.container {
  width: 46.875vw;
  margin: 0 auto;
}

/* carousel */

.slider {
  width: 100%;
  position: relative;
  height: 20em;
  transform: translateY(100px);
  background-color: gray;
  justify-content: center;
}

.slider__item {
  margin: auto;
  width: 100%;
  height: 20em;
  color: white;
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: scale(0.9);
}

.slider__item:nth-child(odd) {
  background: center/cover no-repeat
    url("https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
}

.slider__item:nth-child(even) {
  background: center/cover no-repeat
    url("https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1229&q=80");
}

.showing {
  opacity: 1;
  z-index: 1;
  transform: none;
}

/* news & board*/
.news {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.news__description,
.news__statistics,
.board__save,
.board__story {
  width: 45%;
  height: 100%;
}

.news__statistics #myChart {
  width: 11.718vw;
  height: 300px;
  margin: 0 auto;
}

.board {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0vh;
}

.board__titleBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  font-size: 1.2em;
}

.board__contentsBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content__title {
  font-size: 1em;
  padding-bottom: 2vh;
  text-align: center;
}

.board__img {
  width: 175px;
  height: 150px;
  border-radius: 0.5em;
  object-fit: cover;
}

/* footer */
footer {
  margin: 0 auto;
  background-color: #fafafa;
}

.footer__container {
  width: 46.875vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 50px 0px;
}

.footer__top--msg {
  width: 7.812vw;
  height: 50px;
  background-color: var(--main-color-orange);
}

.footer__top--msg h2 {
  text-align: left;
}

.footer__top--logo {
  width: 2.148vw;
}

.footer__top--logo img {
  width: 100%;
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #f3f1f1;
  border-radius: 10px;
}

.footer__bottom__title {
  font-size: 21px;
}

.footer__bottom__left li {
  margin-top: 15px;
  color: #9b9b9b;
}

.footer__bottom__left li a:hover {
  color: var(--btn-hover-color);
}

.footer__bottom__right {
  text-align: right;
}

.footer__bottom__right li {
  margin-top: 15px;
  color: #9b9b9b;
}

.footer__copyright {
  font-size: 14px;
  color: #bebebe;
}

.footer__copyright {
  padding: 3vh 0vh;
  margin: 0 auto;
}

@media (max-width: 1920px) {
  .header {
    width: 62.5vw;
  }

  .container {
    width: 62.5vw;
  }

  .footer__container {
    width: 62.5vw;
  }

  .footer__top--msg {
    width: 30vw;
    height: auto;
  }

  .footer__top--logo {
    width: 3vw;
  }
}

@media (max-width: 1440px) {
  .header {
    width: 80vw;
  }

  .container {
    width: 80vw;
  }

  .footer__container {
    width: 80vw;
  }

  .footer__top--logo {
    width: 4vw;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100vw;
    display: block;
    text-align: center;
  }

  .header__left {
    display: block;
  }

  .header__menu-list {
    display: block;
    background-color: bisque;
  }

  .header__menu-list li {
    margin: 0;
    padding: 5px 0px;
  }

  .header__menu-list li:hover {
    background-color: bisque;
    background-color: var(--main-color-orange);
    color: white;
    opacity: 0.5;
  }

  .header__right {
    justify-content: space-evenly;
    background-color: antiquewhite;
  }

  .header__my-page {
    margin: 0;
  }

  .container {
    width: 90vw;
    padding-top: 10vh;
  }

  .news,
  .board {
    flex-direction: column;
    height: auto;
  }

  .news__description {
    text-align: center;
    padding: 40px 0px;
  }

  .news__description,
  .news__statistics,
  .board__save,
  .board__story {
    width: 100%;
    height: 100%;
  }

  .board__save,
  .board__story {
    padding: 40px 0px;
  }

  footer {
    margin-top: 50px;
  }

  .footer__container {
    width: 90vw;
  }

  .footer__top {
    flex-direction: column;
    align-items: center;
  }

  .footer__top--msg {
    width: 100%;
    height: auto;
  }

  .footer__top--logo {
    width: 10vw;
    margin-top: 5vh;
  }

  .footer__bottom {
    flex-direction: column;
  }
}
