.lost-detail {
  width: 1200px;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lost-detail__img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin: 20px 0;
}

.lost-detail__title {
  font-size: 24px;
  font-weight: 700;
  padding: 15px 0 5px 5px;
}

.lost-detail__info table {
  width: 100%;
  border-top: var(--border-gray);
}

.lost-detail__info table tr {
  border-bottom: var(--border-gray);
}

.lost-detail__info table th {
  width: 150px;
  padding: 10px 0;
  background-color: antiquewhite;
}

.lost-detail__info table td {
  width: 200px;
  padding: 10px 20px;
}

.back-to-list-btn {
  display: block;
  margin-top: 30px;
}
