.lost {
  width: 1200px;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 검색 필터 */
.lost-search__box {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: antiquewhite;
  border-radius: 5px;
}

.lost-search__date,
.lost-search__place,
.lost-search__kind-state {
  margin: 10px;
}

.lost-search__kind-state {
  display: flex;
  justify-content: space-between;
}

.lost-search input,
.lost-search select {
  width: 150px;
  height: 28px;
}

.lost-search input {
  width: 143px;
}

.lost-search__kind-state select {
  width: 100px;
}

.search-btn {
  width: 60px;
  height: 30px;
  font-size: 14px;
  margin: 5px auto;
}

.search-btn-container {
  display: flex;
}

/* 유기동물 리스트 */
.lost-content {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 0;
  padding-top: 50px;
}

.lost-content__item a {
  width: 350px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}

.lost-content__img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.lost-content__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
}

/* 페이지네이션 */

.lost .pagination li:hover {
  border-radius: 50%;
}

.lost .pagination {
  color: white;
  width: 400px;
  height: 100px;
}

.lost .pagination ul {
  display: flex;
  justify-content: center;
  width: 100%;
}

.lost .pagination ul li {
  font-size: 16px;
  margin: auto;
}

.lost .pagination ul li.numb {
  height: 20px;
  width: 20px;
}

.lost .pagination span {
  margin: auto;
}

.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}

.pagination ul li.dots:hover {
  background-color: var(--main-color-orange);
}

.pagination ul li.prev:hover {
  border-radius: 25px 5px 5px 25px;
}

.pagination ul li.next:hover {
  border-radius: 5px 25px 25px 5px;
}

.pagination ul li.active {
  background-color: var(--btn-hover-color);
}
