/* myPage */
#myPage {
  width: 100%;
  position: relative;
  top: 10em;
}

.myPage__title {
  font-size: 1.4em;
  margin-bottom: 1em;
  text-align: center;
}

.myPage__profile {
  display: block;
  text-align: center;
}

.myPage__profile__email,
.myPage__profile__nickname,
.myPage__profile__createdAt {
  display: block;
}

.myPage__select,
.userInfo {
  display: flex;
}

.myPage__select {
  margin-bottom: 2em;
}

.myPage__select .list {
  overflow: hidden;
  margin: auto;
  font-size: 1.1em;
}

.myPage__select .list li {
  float: left;
  margin-right: 14px;
}

.myPage__select .list li.is__on .myPage__select__category {
  font-weight: bold;
}

.myPage__select .list .myPage__select__category {
  font-size: 13px;
}

/* pagination */

.myComment__pages {
  display: flex;
  justify-content: center;
}

.prev,
.next {
  cursor: pointer;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__container .pagination {
  transform: translateX(-1.5em);
}

.pagination ul {
  display: flex;
  background: var(--main-color-orange);
  padding: 8px;
  border-radius: 50px;
}

.pagination li {
  width: 20px;
  height: 20px;
  margin: 5px;
  font-size: 10px;
  display: flex;
  cursor: pointer;
}

.pagination li:hover {
  background-color: var(--btn-hover-color);
}

.pagination li.active {
  background-color: var(--main-color-orange);
}

.pagination li a {
  margin: auto;
}
/* userInfo */

#userInfo {
  position: absolute;
  height: 1.6em;
  width: 100%;
  margin-left: 30em;
  margin-bottom: 2em;
  display: block;
  text-align: left;
}

.userInfo__modify {
  display: flex;
  height: 1.8em;
  margin-bottom: 1.5em;
}

.userInfo__modify__name,
.userInfo__modify__input {
  margin-right: 1em;
}

.userInfo__modify__input {
  text-align: center;
}
.userInfo__modify__name {
  padding-top: 5px;
}

#userInfo__modify__btn {
  height: 100%;
  width: 5em;
}

#userInfo__exit {
  width: 5em;
  font-size: 1em;
}

/* 내가 쓴 글 */

#myPosts {
  display: none;
}

/* 내가 쓴 댓글 */

#myComments {
  display: none;
  margin: auto;
  width: 50%;
}

.myComments__list {
  width: 100%;
  height: 24em;
}

.content {
  height: 15%;
  margin-bottom: 0.7em;
}

.content__info {
  display: flex;
}

.content__info__link {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}

.content__info__comment {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
}

.deleteBox {
  display: flex;
  align-items: center;
}

.content__seperator {
  position: relative;
  width: 100%;
  top: 0.5em;
}

.content__seperator__line {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  height: 1px;
  width: 100%;
  bottom: 0.7em;
}
